<div class="row justify-content-center">
    <div class="card col-lg-7 col-sm-10 col-md-10 p-0">
      <div class="card-header bg-transparent">Edit your profile</div>
      <div class="card-body">
        <div class="row mb-3">
          <div class="col-md-auto container-image">
            <img
              *ngIf="domain; else defaultAvatar"
              class="rounded-circle mx-auto d-block"
              [src]="domain"
              alt="user avatar"
              height="200"
              width="200"
            />
            <ng-template #defaultAvatar>
              <img
                class="rounded-circle mx-auto d-block cursor-pointer"
                src="../../../../../assets/images/avatar.jpg"
                alt="avatar"
                height="200"
                width="200"
              />
            </ng-template>
            <div class="photo-input">
              <input
                class="cursor-pointer"
                type="file"
                accept="image/jpeg,image/jpg,image/png"
                alt="photo"
                (change)="selectFile($event)"
                id="upload"
                hidden
              />
              <label className="photo-input__label" for="upload">
                <i class="fa fa-camera align-self-center" aria-hidden="true"></i>
              </label>
            </div>
          </div>
          <div class="col col-md-lg-8 mx-auto">
            <p class="card-text text-center mt-3">{{ userName }}</p>
            <form
              class="mp-0"
              [formGroup]="userInfo"
              role="name"
              (ngSubmit)="editUserData()"
              *ngIf="isForm"
            >
              <div class="form-group mb-50">
                <label for="username" class="control-label">First name</label>
                <input
                  type="text"
                  id="firstName"
                  formControlName="firstName"
                  class="form-control"
                  placeholder="First Name"
                />
                <span
                  *ngIf="
                    !userInfo.get('firstName').valid &&
                    userInfo.get('firstName').touched
                  "
                  class="text-danger"
                >
                  <span
                    *ngIf="
                      userInfo.get('firstName').errors['hasEnglishLetters'] ||
                      userInfo.get('firstName').errors['minlength']
                    "
                    class="is-invalid"
                    >This first name is incorrect!</span
                  >
                  <span *ngIf="userInfo.get('firstName').errors['required']"
                    >This field is required!</span
                  >
                </span>
              </div>
              <div class="form-group mb-50">
                <label for="username" class="control-label">Last name</label>
                <input
                  type="text"
                  id="lastName"
                  formControlName="lastName"
                  class="form-control"
                  placeholder="Last Name"
                />
                <span
                  *ngIf="
                    !userInfo.get('lastName').valid &&
                    userInfo.get('lastName').touched
                  "
                  class="text-danger"
                >
                  <span
                    *ngIf="
                      userInfo.get('lastName').errors['hasEnglishLetters'] ||
                      userInfo.get('lastName').errors['minlength']
                    "
                    class="is-invalid"
                    >This last name is incorrect!</span
                  >
                  <span *ngIf="userInfo.get('lastName').errors['required']"
                    >This field is required!</span
                  >
                </span>
              </div>
              <div class="form-group mb-50">
                <label for="username" class="control-label">Speciality</label>
                <input
                  type="text"
                  id="speciality"
                  formControlName="speciality"
                  class="form-control"
                  placeholder="Speciality"
                />
                <span
                  *ngIf="
                    !userInfo.get('speciality').valid &&
                    userInfo.get('speciality').touched
                  "
                  class="text-danger"
                >
                  <span
                    *ngIf="
                      userInfo.get('speciality').errors['hasEnglishLetters'] ||
                      userInfo.get('speciality').errors['minlength']
                    "
                    class="is-invalid"
                    >This speciality is incorrect!</span
                  >
                  <span *ngIf="userInfo.get('speciality').errors['required']"
                    >This field is required!</span
                  >
                </span>
              </div>
              <div class="d-flex justify-content-center mb-3">
                <button
                  type="submit"
                  class="btn btn-primary col-4"
                  [disabled]="userInfo.invalid"
                >
                  Save
                </button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>