.container-image {
    position: relative;
}

.photo-input {
    position: absolute;
    padding: 0;
    left: 50%;
    top: 2%;
    transform: translate(-50%, -50%);
    max-width: 50%;
    text-align: center;
    z-index: 3;
}

.fa {
    font-size: 20px;
    color: rgba(82, 76, 76, 0.8);;
}